.Destinations_title{
    color: #402E32;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Playfair Display';
    line-height: 32px;
    word-wrap: break-word;
    margin-top: 32px;
    margin-left: 80px;
    margin-bottom: 32px;
}
.Destinations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.image{
    position: relative; 
    width: 296px;
    height: 296px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
}
.pic1{
    width: 340px;
    height: 300px;
    position: absolute;
    border-radius: 8px;
}

.heart{
    width: 28px;
    height: 28px;
    position: absolute;
    margin-left: 252px;
    margin-top: 16px;
    background-color: transparent;
    color: #FFF7F1;
    cursor: pointer;
}



.subtitle{
    margin-top: 16px;
    color: #402E32;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Playfair Display';
    text-transform: capitalize;
    line-height: 20px;
    word-wrap: break-word;
}
.About,
.days{
    color: #402E32;
    margin-top: 8px;
    opacity: 0.70;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Playfair';
    text-transform: capitalize;
    line-height: 20px;
    word-wrap: break-word;
}
.days{
    margin-top: 0px;
}
.Charge{
    color: #402E32;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 20px;
    font-family: 'Lora';
    word-wrap: break-word;
}

.rating{
    color: #B1886A;
    font-size: 16px;
    margin-left: 238px;
    margin-top: -100px;
    text-align: center;
    font-family: 'Lora';
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
}
.View-details{
    margin-left: 210px;
    margin-top: 66px;
    text-decoration: none;
    position: absolute;
    color: #402E32;
    font-size: 16px;
    font-family: 'Playfair';
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
}