.DroupDownProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 105px 86%;
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left:1300px;
    top: 4.5rem;
    right: 1.5rem;
    width: 120px;
    height: 94px;
    margin-top: 24px;
    padding: 8px;
    border-radius: 15px;
    background-color: #F6EFE6;
    box-shadow: 0 0 3px 2px #f4e9db;
    width: 200px;
    height: 120px;
}
.DroupDownProfile::before{
    content: '';
    position: absolute;
    top: -0.6rem;
    right: 5.5rem;
    width: 16px;
    height: 12px;
    transform: rotate(38deg);
    border: 0.2px ; 
    background-color: #F6EFE6;
}
.DroupDownProfile_ul{
    display: flex;
    flex-direction: column;
}
.DroupDownProfile_ul_menu{
    padding-left: 10px;
    background: transparent;
    text-decoration: none;
    color: #402E32;
    opacity: 0.8;
    font-size: 18px;
    font-family: 'Playfair Display';
    font-weight: 400;
    word-wrap: break-word;
}
