@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.Home_Discover{
    color: #402E32;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Playfair Display';
    line-height: 32px;
    word-wrap: break-word;
    margin-top: 32px;
    margin-left: 40px;
    margin-bottom: 32px;
}