.NAV{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 720px;
    height: 104px;
    width: 100%;
    background-color: #FFF7F1;
    box-shadow: 0px 4px 4px #F6EFE6;
}
.NAV_left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.NAV_logo{
    width: 158px;
    height: 32px;
}

.NAV_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 28px;
}
.NAV_right_Noti{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.NAV_Live{
    size: 2.5em;
}
.NAV_Weatherhub{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #402E32;
    font-family: 'Playfair';
    font-size: 24px;
    font-weight: 600;
    word-wrap: break-word;
}
.NAV_notification{
    height: 36px;
    width: 36px;
}
