@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 24px;
  }
  li {
    list-style-type: none;
    color: black;
  }
  .Discover,.planning,
  .Review{
      font-family: 'Playfair Display';
      text-decoration: none;
      color: #402E32;
      font-weight: 600;
  }
  .planning,
  .Review{
    opacity: 0.4;
  }
  .User_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Playfair Display';
    margin: 30px 550px;
    font-size: 24px;
    font-weight: 500px;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
  }
  