ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 24px;
  }
  li {
    list-style-type: none;
    color: black;
  }
  .Discover,.planning,
  .Review{
      text-decoration: none;
      color: #402E32;
      font-weight: 600;
  }
  .planning,
  .Review{
    opacity: 0.4;
  }
  .User_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 30px 550px;
    font-size: 24px;
    font-weight: 500px;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
  }
  