.WeatherHub_title{
    text-align: center;
    margin-top: 24px;
    background: transparent;
    color: #402E32;
    font-size: 32px;
    font-family: 'Playfair';
    font-weight: 500;
    word-wrap: break-word;
}
.WeatherHub_Search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.WeatherHub_Search_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    background: #FFF7F1; 
    box-shadow: 0px 0px 5px 4px #F6EFE6;
    border-radius: 48px; 
    overflow: hidden; 
    border: 0.2px ;   
    width: 498px;
    height: 56px;
}
.WeatherHub_search-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
.WeatherHub-Input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    background: transparent;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.7;
    word-break: break-word;
    border: 0;
    outline: none;
    background-color: #FFF7F1;
}
.WeatherHub_main{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
}
.WeatherHub_left {
    position: relative;
    padding-left: 10px;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}
.WeatherHub_left::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 2px solid black;
    width: 0px;
}
.Progress_Bar{
    height: 88px;
}
.WeatherHub_left_texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.WeatherHub_left_text1,.WeatherHub_left_text2,.WeatherHub_left_text3{
    text-decoration: none;
    background: transparent;
    color: #402E32;
    font-size: 17px;
    font-family: 'Playfair Display';
    font-weight: 200;
    word-wrap: break-word;
}
.WeatherHub_right{
    background: transparent;
    margin-top: 8px;
    margin-right: 320px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}
.WeatherHub_right_current_Location{
    color: #402E32;
    background: transparent;
    background: transparent;
    font-size: 16px;
    opacity: 0.5;
    font-family: 'Playfair Display';
    font-weight: 300;
    line-height: 20px;
    word-wrap: break-word;
}
.WeatherHub_right_Location{
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}
.WeatherHub_right_Location-Name{
    color: #402E32;
    background: transparent;
    font-size: 32px;
    font-family: 'Playfair Display';
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
}
.WeatherHub_right_Location-codinate{
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}
.WeatherHub_right_Location-codinate1{
    margin-top: 10px;
    color: #402E32;
    font-size: 18px;
    opacity: 0.5;
    font-family: 'Lora';
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
}
.WeatherHub_temp{
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
}
.WeatherHub_temp_type{
    width: 96px;
    height: 96px;
}
.WeatherHub_Temp_lock{
    color: #402E32;
    font-size: 96px;
    font-family: 'Playfair Display';
    font-family: 'Lora';
    font-weight: 540;
    line-height: 40px;
    word-wrap: break-word;
}
.WeatherHub_temp-C{
    margin-top: 10px;
    color: #402E32;
    font-size: 32px;
    font-family: 'Playfair Display';
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
}
.WeatherHub_Type{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}
.WeatherHub_Type_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.WeatherHub_Type{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 88px;
}
.WeatherHub_Type_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.WeatherHub_Snowfall_Type_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}
.WeatherHub_Type_title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #402E32;
    font-size: 20px;
    font-family: 'Playfair Display';
    font-weight: 400;
    word-wrap: break-word;
}
.WeatherHub_Type_name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.WeatherHub_Type_data{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #402E32;
    font-size: 18px;
    opacity: 0.8;
    font-family: 'Lora';
    font-weight: 400;
    word-wrap: break-word;
}
.WeatherHub_Ellipse{
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    width: 80%;
    height: 25%;
}
.WeatherHub_Windspeed_Type_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.WeatherHub_Windspeed_Type{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 52px;
}
.WeatherHub_Humidity_Type_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.WeatherHub_Humidity_Type{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 48px;
}
.WeatherHub_Type_Humidity_data{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #402E32;
    font-size: 18px;
    opacity: 0.8;
    font-family: 'Lora';
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 40px;
}